<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
	<link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css" >
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/javascripts/jquery-2.1.4.min.js"></script>
	<script src="/javascripts/angular.min.js"></script>
	<script src="/javascripts/bootstrap.js"></script>
</head>
<body>
<% include nav.ejs %>
<div id="container" class="container" ng-app="app">
	<div ng-controller="book">
		<ul ng-repeat="book in viewdata track by $index" ng-cloak="">
			<li ng-bind="book.name"></li>
		</ul>
	</div>
</div>
<script type="text/javascript">
	var app = angular.module('app',[]);
	app.controller('book',['$scope',function($scope){
		$scope.viewdata = <%- JSON.stringify(items) %>; 
		console.log($scope.viewdata);
	}]);
</script>