<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/angular.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</head>
<body ng-app="indexApp">
<% include nav.ejs %>
<div id="container" class="container" ng-controller="indexController">
    <% if (success) { %>
    <div class="alert alert-success">
        <%= success[0].message %>
    </div>
    <% } %>
    <% if (error) { %>
    <div class="alert alert-error">
        <%= error[0].message %>
    </div>
    <% } %>
    <div class="hero-unit">
        <h1>欢迎来到Microblog</h1>
        <p>Microblog 是一个基于Node.js的微博系统</p>
       <ul>
           <li><a href="/exams">练习册</a></li>
       </ul>
    </div>
    <div ng-repeat="post in posts track by $index">
        <div>
            <h2><a ng-href="'/user/'+post.user" ng-bind="post.user"></a></h2>
            <p>
                <small ng-bind="post.time"></small>
            </p>
            <p ng-bind="post.post"></p>
        </div>
    </div>
    <% include footer.ejs %>
    <script src="/javascripts/common.js"></script>
    <script type="text/javascript">
        var app = angular.module('indexApp',[]);
        app.controller('indexController',['$scope',function($scope){
            $scope.posts = <%- JSON.stringify(posts) %>
        }]);
    </script>
</body>
</html>
